@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Alegreya-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 600;
  src: url(fonts/Alegreya-2.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Alegreya-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Alegreya-4.ttf) format('truetype');
}
