@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RobotoMono-1.ttf) format("truetype");
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Alegreya-1.ttf) format("truetype");
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 600;
  src: url(fonts/Alegreya-2.ttf) format("truetype");
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Alegreya-3.ttf) format("truetype");
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Alegreya-4.ttf) format("truetype");
}
/*
  Uses Google Fonts:
  - Roboto Mono
  - Alegreya
  https://fonts.google.com/attribution
*/
html {
  background: #333333;
}

body {
  background: white !important;
  color: black !important;
  font-size: 16px !important;
  font-family: "alegreya", serif;
}

html .main-content,
html .main-content span,
html h1, html h2, html h3, html h4, html h5, html h6, html .h1, html .h2, html .h3, html .h4, html .h5, html .h6 {
  font-family: "alegreya", serif !important;
}

img,
.panel img {
  height: auto !important;
}

.navbar,
#header-hidden-link a,
html .dropdown-menu a {
  background: #f20762 !important;
}

html .dropdown-menu {
  border-bottom: none !important;
}

#header-hidden-link {
  top: -1em !important;
}

html th, html td, html table, html tbody {
  border: none !important;
}
html th, html td {
  padding: 1em 2em 1em 2em !important;
  text-align: left !important;
  border: none !important;
}
html tr:nth-child(even) {
  background-color: #f2f2f2;
}

html .btn-primary,
html .navbar-nav a,
html .dropdown-menu a,
html .dropdown-menu li,
html .dropdown-menu ul {
  font-family: "Roboto Mono", serif !important;
  text-transform: uppercase !important;
}

.header-hidden {
  background: #f20762 !important;
  color: white !important;
  font-size: 18px !important;
}
.header-hidden a {
  background: #f20762 !important;
  color: white !important;
}

.header {
  border-top: 1em solid #f20762 !important;
  padding: 1em 0 15px 0 !important;
}

.js-clingify-locked {
  background: #f20762 !important;
  border-bottom: none !important;
}

.btn-primary {
  background: #f20762 !important;
  border-color: #f20762 !important;
  color: white !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #8b0136 !important;
  border-color: #f20762 !important;
  color: white !important;
}

.navbar {
  margin-bottom: -1px;
  border-bottom: 6px solid #8b0136 !important;
}

.panel {
  border-top: 0.5em solid #f20762 !important;
}

abbr {
  border-bottom: 0 !important;
}

/* --- mobile side menu --- */
#jPanelMenu-menu {
  background: #f20762 !important;
  color: white !important;
}

/* --- hamburger icon (mobile)--- */
.btn-navbar, .navbar-btn {
  background: #f20762 !important;
}

.btn-navbar.open, .navbar-btn.open, .btn-navbar:hover, .navbar-btn:hover {
  background: #8b0136 !important;
}

.btn-navbar .bar, .navbar-btn .bar {
  background-color: white;
  height: 5px;
}

#hamburger .bar:last-child {
  display: none !important;
}

/* --- hyperlinks / nav links --- */
#content a {
  color: #f20762 !important;
}

#content a:hover,
#content a:focus {
  color: #8b0136 !important;
}

html .navbar-nav {
  margin-bottom: -2px;
}

html .navbar-nav i,
html #navigation i,
html #jPanelMenu-menu i {
  color: white !important;
}
html .navbar-nav li a,
html #navigation li a,
html #jPanelMenu-menu li a {
  color: white !important;
}
html .navbar-nav li.active a,
html #navigation li.active a,
html #jPanelMenu-menu li.active a {
  background: #8b0136 !important;
  color: white !important;
}
html .navbar-nav li a:hover,
html .navbar-nav li a:focus,
html .navbar-nav li a:active,
html #navigation li a:hover,
html #navigation li a:focus,
html #navigation li a:active,
html #jPanelMenu-menu li a:hover,
html #jPanelMenu-menu li a:focus,
html #jPanelMenu-menu li a:active {
  background: #8b0136 !important;
  color: white !important;
}

/* --- footer --- */
#footer {
  border-top: 0.75em solid #f20762 !important;
  min-height: inherit !important;
  padding-bottom: 1px !important;
  color: white !important;
}

.footerLinks a {
  color: white !important;
}

.footerLinks a:hover,
.footerLinks a:focus {
  color: white !important;
}

/*# sourceMappingURL=custom.css.map */
