$main_bgcolour: white;
$main_textcolour: black;
$main_fontsize: 16px;

$primary_pink: #f20762;
$primary_font: 'alegreya', serif;
$primary_textcolour: white;

$menu_font: 'Roboto Mono';

$secondary_pink: #8b0136;

$hidden_header_fontsize: 18px;

@import url(https://fonts.googleapis.com/css?family=Alegreya);

body {
  background: $main_bgcolour !important;
  color: $main_textcolour !important;
  font-size: $main_fontsize !important;
  font-family: $primary_font;
}

.navbar,
#header-hidden-link a {
  background: $primary_pink !important;
}

#header-hidden-link {
  top: -1em !important;
}

.header-hidden {
  background: $primary_pink !important;
  color: $primary_textcolour !important;
  font-size: $hidden_header_fontsize !important;
  a {
    background: $primary_pink !important;
    color: $primary_textcolour !important;
  }
}

.header {
  border-top: 1em solid $primary_pink !important;
  padding: 1em 0 15px 0 !important;
}

.js-clingify-locked {
  background: $primary_pink !important;
  border-bottom: 0.5em solid $primary_pink !important;
}

.btn-primary {
  background: $primary_pink !important;
  border-color: $primary_pink !important;
  color: $primary_textcolour !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: $secondary_pink !important;
  border-color: $primary_pink !important;
  color: $primary_textcolour !important;
}

.navbar {
  border-bottom: 3px solid $primary_pink !important;
}

.panel {
  border-top: 0.5em solid $primary_pink !important;
}

abbr {
  border-bottom: 0 !important;
}

/* --- mobile side menu --- */

#jPanelMenu-menu {
  background: $primary_pink !important;
  color: $primary_textcolour !important;
}

/* --- hamburger icon (mobile)--- */

.btn-navbar, .navbar-btn {
  background: $primary_pink  !important;
}
.btn-navbar.open, .navbar-btn.open, .btn-navbar:hover, .navbar-btn:hover {
  background: $secondary_pink  !important;
}

.btn-navbar .bar, .navbar-btn .bar {
  background-color: $primary_textcolour;
  height: 5px;
}
#hamburger .bar:last-child {
  display: none !important;
}

/* --- hyperlinks / nav links --- */

#content a {
  color: $primary_pink !important;
}
#content {
  a:hover,
  a:focus {
    color: $secondary_pink !important;
  }
}

html {
  .navbar-nav,
  #navigation,
  #jPanelMenu-menu {
    i {
      color: $primary_textcolour !important;
    }
    li {
      a {
        background: $primary_pink !important;
        color: $primary_textcolour !important;
      }
    }
    li {
      a:hover,
      a:focus {
        background: $secondary_pink !important;
        color: $primary_textcolour !important;
      }
    }
  }
}

/* --- footer --- */

#footer {
  border-top: 0.75em solid $primary_pink !important;
  min-height: inherit !important;
  padding-bottom: 1px !important;
  color: $primary_textcolour !important;
}

.footerLinks {
  a {
    color: $primary_textcolour !important;
  }
}
.footerLinks {
  a:hover,
  a:focus {
    color: $primary_textcolour !important;
  }
}
