$main_bgcolour: white;
$main_textcolour: black;
$main_fontsize: 16px;

$primary_pink: #f20762;
$primary_font: 'alegreya', serif;
$primary_textcolour: white;

$menu_font: 'Roboto Mono';

$secondary_pink: #8b0136;

$hidden_header_fontsize: 18px;

/* -- Roboto Mono fonts -- */

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/robotomono-1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/robotomono-2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/robotomono-3.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/robotomono-4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/robotomono-5.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/robotomono-6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* -- Alegreya fonts -- */

/* cyrillic-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alegreya-1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alegreya-2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alegreya-3.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alegreya-4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alegreya-5.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alegreya-6.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alegreya-7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  background: $main_bgcolour !important;
  color: $main_textcolour !important;
  font-size: $main_fontsize !important;
  font-family: $primary_font;
}

.navbar,
#header-hidden-link a {
  background: $primary_pink !important;
}

#header-hidden-link {
  top: -1em !important;
}

html {
  .btn-primary,
  .navbar-nav a {
    font-family: $menu_font !important;
    text-transform: uppercase !important;
  }
}

.header-hidden {
  background: $primary_pink !important;
  color: $primary_textcolour !important;
  font-size: $hidden_header_fontsize !important;
  a {
    background: $primary_pink !important;
    color: $primary_textcolour !important;
  }
}

.header {
  border-top: 1em solid $primary_pink !important;
  padding: 1em 0 15px 0 !important;
}

.js-clingify-locked {
  background: $primary_pink !important;
  border-bottom: 0.5em solid $primary_pink !important;
}

.btn-primary {
  background: $primary_pink !important;
  border-color: $primary_pink !important;
  color: $primary_textcolour !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: $secondary_pink !important;
  border-color: $primary_pink !important;
  color: $primary_textcolour !important;
}

.navbar {
  margin-bottom: -1px;
  border-bottom: 6px solid $secondary_pink !important;
}

.panel {
  border-top: 0.5em solid $primary_pink !important;
}

abbr {
  border-bottom: 0 !important;
}

/* --- mobile side menu --- */

#jPanelMenu-menu {
  background: $primary_pink !important;
  color: $primary_textcolour !important;
}

/* --- hamburger icon (mobile)--- */

.btn-navbar, .navbar-btn {
  background: $primary_pink  !important;
}
.btn-navbar.open, .navbar-btn.open, .btn-navbar:hover, .navbar-btn:hover {
  background: $secondary_pink  !important;
}

.btn-navbar .bar, .navbar-btn .bar {
  background-color: $primary_textcolour;
  height: 5px;
}
#hamburger .bar:last-child {
  display: none !important;
}

/* --- hyperlinks / nav links --- */

#content a {
  color: $primary_pink !important;
}
#content {
  a:hover,
  a:focus {
    color: $secondary_pink !important;
  }
}

html {
  .navbar-nav {
    margin-bottom: -2px;
  }
}

html {
  .navbar-nav,
  #navigation,
  #jPanelMenu-menu {
    i {
      color: $primary_textcolour !important;
    }
    li {
      a {
        // background: $primary_pink !important;
        color: $primary_textcolour !important;
      }
    }
    li.active {
      a {
        background: $secondary_pink !important;
        color: $primary_textcolour !important;
      }
    }
    li {
      a:hover,
      a:focus,
      a:active {
        background: $secondary_pink !important;
        color: $primary_textcolour !important;
      }
    }
  }
}

/* --- footer --- */

#footer {
  border-top: 0.75em solid $primary_pink !important;
  min-height: inherit !important;
  padding-bottom: 1px !important;
  color: $primary_textcolour !important;
}

.footerLinks {
  a {
    color: $primary_textcolour !important;
  }
}
.footerLinks {
  a:hover,
  a:focus {
    color: $primary_textcolour !important;
  }
}
